
p {
  color: blue;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.3;
	margin-bottom: 10px;
}
 h1 {
	color: #81bdb0;
	font-weight: 100;
	text-align: center;
	font-size: 56px;
	margin: 10px 0;
}
h1 span {
	font-weight: bold;
	color: rgb(137, 55, 91);
}